@page "/details/{ShowNumber}"

<span @onclick="NavigateHome" class="oi oi-arrow-left"
      style="zoom:2;" aria-hidden="true"></span>

@if (ThisShow != null)
{
    <h4>@ThisShow.ShowTitle</h4>
    <span style="font-weight:bold;">
        Episode @ThisShow.ShowNumber published @ThisShow.DatePublished.ToLongDateString()
    </span>

    <div>
        @ThisShow.Description;
    </div>
    <br />

    <img class="@rewindButtonClass"
     style="width: 50px;opacity: @ControlsOpacity;"
     @onclick="Rewind" src="rewind.png" />

    <img class="@playButtonClass"
     style="width: 50px;opacity: @PlayOpacity;"
     @onclick="PlayAudio" src="play.png" />

    <img class="@pauseButtonClass"
     style="width: 50px;opacity: @ControlsOpacity;"
     @onclick="PauseAudio" src="pause.png" />

    <img class="@stopButtonClass"
     style="width: 50px;opacity: @ControlsOpacity;"
     @onclick="StopAudio" src="stop.png" />

    <img class="@forwardButtonClass"
     style="width: 50px;opacity: @ControlsOpacity;"
     @onclick="Forward" src="ffwd.png" />

    <br />
    <progress style="width: 100%; height: 50px;" max="100"
          value="@Percentage"></progress>
    <br />
    <div> @AudioMessage @PlayPosition</div>

    <br/>
    @foreach (var guest in ThisShow.ShowDetails.Guests)
    {
        <h3>@guest.Name</h3>
        <div style="padding:20px;">
            <img src="@guest.PhotoUrl" style="width:160px;padding-right:10px;padding-bottom:10px;float:left;"/>
            <div>@guest.Bio</div>
        </div>
        <br clear="left" />
    }

    <h3>Links:</h3>
    <div style="padding-left:20px;">
    @foreach (var link in ThisShow.ShowDetails.Links)
    {
        <a style="padding-bottom:10px;" target="_blank" href="@link.Url">@link.Text</a>
        <br/>
    }
    </div>
    <br />

}